// tap to top button
#topBtn {
    display: none;
    opacity: 0.8;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 9;
    font-size: 18px;
    border: 2px solid lightgray;
    outline: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: background-color 1s; 
    &:hover {
      background-color: black; } 
    }